body, html {
	overflow: hidden;
	font-size: 80%;
}

body {
	font-family: Arial, 微軟正黑體;
}

* {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
}

/* centre the content in the parallax layers */
.parallax_content {
	text-align: center;
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* parallax */
.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax_group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax_layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.parallax_layer-fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}
.parallax_layer-base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 5;
}
.parallax_layer-inter {
	-webkit-transform: translateZ(-180px) scale(1.6);
	transform: translateZ(-180px) scale(1.6);
	z-index: 4;
}
.parallax_layer-back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}
.parallax_layer-deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

/* groups */
/* 1 */
#frontpage {
	z-index: 5;
}
#frontpage .parallax_layer-base {
	font-size: 3rem;
	line-height: 4rem;
	background: url(./img/hack.jpg);
	color: white;
	text-shadow: 0px 0px 10px black;
}

/* 2 */
#bio {
	z-index: 3;
}
#bio .parallax_layer-base {
	font-size: 3rem;
	line-height: 4rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}
#bio .parallax_layer-inter {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 10px black;
	opacity: 0.2;
}
#bio .parallax_layer-back {
	background: url(./img/appledesktop.jpg);
}

/* 3 */
#education {
	z-index: 4;
}
#education .parallax_layer-base {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: bold;
	background: url(./img/pencil.jpg); 
	color: white;
	text-shadow: 0px 0px 10px black;
}
#education .parallax_layer-base .parallax_content {
	text-align: right;
	opacity: 0.2;
}
#education .parallax_layer-fore {
	font-size: 2rem;
	line-height: 3rem;
	color: black;
	text-shadow: 0px 0px 10px white;
}
#education .parallax_layer-fore .parallax_content {
	text-align: left;
}
#education .parallax_layer-fore .parallax_content ul {
	padding-left: 20px;
	padding-bottom: 10px;
}

/* 4 */
#skills {
	z-index: 2;
}
#skills .parallax_layer-base {
	font-size: 3rem;
	line-height: 4rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}
#skills .parallax_layer-inter {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 10px black;
	opacity: 0.2;
}
#skills .parallax_layer-back {
	background: url(./img/lake.jpg); 
}
#skills .parallax_layer-deep {
}

/* 5 */
#myworks {
	z-index: 3;
}
#myworks a {
	color: black;
}
#myworks .parallax_layer-base {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: bold;
	background: url(./img/kbwhite.jpg); 
	color: white;
	text-shadow: 0px 0px 10px black;
}
#myworks .parallax_layer-base .parallax_content {
	text-align: right;
	opacity: 0.2;
}
#myworks .parallax_layer-fore {
	font-size: 2rem;
	line-height: 3rem;
	color: black;
	text-shadow: 0px 0px 10px white;
}
#myworks .parallax_layer-fore .parallax_content {
	text-align: left;
}
#myworks .parallax_layer-fore .parallax_content ul {
	padding-left: 20px;
	padding-bottom: 10px;
}

/* 6 */
#contacts {
	z-index: 2;
}
#contacts a {
	color: white;
}
#contacts .parallax_layer-base {
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}
#contacts .parallax_layer-base .parallax_content {
	text-align: left;
}
#contacts .parallax_layer-base .parallax_content ul {
	padding-left: 20px;
	padding-bottom: 10px;
}
#contacts .parallax_layer-inter {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 10px black;
	opacity: 0.2;
}
#contacts .parallax_layer-back {
	background: url(./img/planet.jpg);
}

/* 7 */
#endpage {
	z-index: 3;
}
#endpage .parallax_layer-base {
	font-size: 3rem;
	line-height: 4rem;
	background: url(./img/bluemoon.jpg); 
	color: white;
	text-shadow: 0px 0px 10px black;
}

/* footer */
.footer {
	position: absolute;
	z-index:100;
	bottom: 0vh;
	top: auto;
	padding: 5px 0px 5px 0px;
	text-align:center;
	width: 100%;
	font-size:0.8rem;
	color: white;
	text-shadow: 0px 0px 3px black;
	opacity: 0.4;
	transition: opacity 0.5s, background 1s;
}
.footer:hover {
	opacity: 0.8;
	background: rgba(0,0,0,0.5);
}
.footer a {
	color: white;
	font-style: italic;
}

/* Stupid FB button fix */
.fb_iframe_widget {
	line-height: 24px;
}

/* blink text */
.blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
